# Node.js
node_modules/
.env
*.log
dist/
build/
/uploads/
/hls/
/public/
.DS_Store
*.sqlite
*.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
.idea/
.vscode/
*.tgz
*.swp
*.swo
*.bak
*.tmp
database.json

# Sistema operacional
Thumbs.db
Desktop.ini

# Outros
*.local
*.cache
